* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  font-family: 'Poppins';
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 96px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 36px 0;
}

.header__logo-img {
  width: 158px;
  height: 32px;
}

.header__button {
  width: 229px;
  height: 50px;
  background-color: #1E38EA;
  border-radius: 16px;
  text-align: center;
}

.header__button-text {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  -webkit-font-feature-settings: 'ss03' on;
          font-feature-settings: 'ss03' on;
  color: #FFFFFF;
  text-align: center;
}

.wrapper__access {
  background-color: #9AEA19;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.wrapper__img {
  display: block;
  position: absolute;
  right: -116px;
  width: 517px;
  position: absolute;
  top: -130px;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 71%;
  margin: 100px 0 63px 0;
  z-index: 1;
}

.access__subtitle {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: black;
  margin: 0 0 20px 0;
}

.access__title {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 124px;
  line-height: 124px;
  text-transform: uppercase;
}

.access__form-form {
  margin: 50px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access__form-name {
  color: rgba(2, 3, 3, 0.5);
  height: 68px;
  border: 2px solid black;
  border-radius: 16px;
  width: 490px;
  padding: 0 0 0 10px;
  background-color: #9AEA19;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.access__form-btn {
  width: 248px;
  height: 68px;
  background: #1E38EA;
  border-radius: 16px;
  color: #FFFFFF;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 0 25px;
}

.access__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.access__text-img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
}

.wrapper__posts {
  background-color: #1E38EA;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 80px 0 56px 0;
}

.posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid rgba(88, 91, 95, 0.23);
  border-radius: 24px;
  background-color: #FAFBFF;
  padding: 16px;
  margin-bottom: 24px;
  font-family: Poppins;
}

.posts__items:hover {
  border: 2px solid black;
  border-radius: 24px;
}

.posts__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__info-header-ava {
  width: 32px;
  height: 32px;
}

.posts__info-header-name {
  margin-left: 8px;
}

.posts__info-headerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  width: 107px;
  height: 30px;
  background: rgba(21, 48, 229, 0.05);
  border-radius: 16px;
  color: #1530E5;
  font-family: 'Poppins';
  font-size: 11px;
}

.posts__info-bigtext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.posts__info-littletext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.posts__info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts__info-line {
  width: 100%;
  margin: 0 auto;
}

.posts__info-barunfill {
  height: 4px;
  display: block;
  background: rgba(21, 48, 229, 0.1);
  width: 100%;
  border-radius: 32px;
}

.posts__info-barfill {
  height: 4px;
  display: block;
  background: #1530E5;
  border-radius: 8px;
  width: 0;
  -webkit-transition: width .8s ease;
  transition: width .8s ease;
  -webkit-animation: progressbar 7s infinite;
  animation: progressbar 7s infinite;
}

.posts__info-bartext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__info-barmany {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #1530E5;
}

.posts__info-bargoal {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #585B5F;
}

.posts__galery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.posts__galery-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts__galery-oneitems {
  margin-bottom: 13px;
}

.posts__galery-oneitems-pic {
  width: 95%;
  height: auto;
}

.posts__galery-oneimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__galery-oneimg-icon {
  width: 24px;
  height: 24px;
}

.posts__galery-oneicon {
  margin-left: 10px;
}

.posts__galery-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts__galery-twoitems {
  margin-bottom: 13px;
}

.posts__galery-twoitems-pic {
  width: 95%;
  height: auto;
}

.posts__galery-twoimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__galery-twoimg-icon {
  width: 24px;
  height: 24px;
}

.posts__galery-twoicon {
  margin-left: 10px;
}

.posts__galery-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts__galery-threeitems {
  margin-bottom: 13px;
}

.posts__galery-threeitems-pic {
  width: 95%;
  height: auto;
}

.posts__galery-threeimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__galery-threeimg-icon {
  width: 24px;
  height: 24px;
}

.posts__galery-threeicon {
  margin-left: 10px;
}

.posts__galery-threeimg_img {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.posts__text {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: end;
  margin: 110px 0;
}

.wrapper__steps {
  background-color: #9AEA19;
}

.steps__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto 0;
}

.steps__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 88px;
  margin: 30px 0 80px 0;
}

.steps__star {
  width: 100px;
  height: 100px;
  margin: 0 55px;
}

.steps__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 96px 40px 0;
}

.steps__h {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0 20px 20px 0;
  min-width: 81px;
}

.steps__p {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.steps__img-img {
  Width: 597px;
  Height: 742px;
}

.steps__img {
  width: 40%;
}

.wrapper__is {
  background-color: #1E38EA;
  width: 100%;
}

.is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is__scroll {
  width: 50%;
  z-index: 2;
  margin: 76px 0;
  overflow: hidden;
}

.is__scroll-img {
  position: relative;
}

.is__scroll-bg {
  z-index: 2;
  display: block;
  position: absolute;
  width: 90%;
  left: -7%;
}

.is__scroll-mob {
  display: block;
  position: absolute;
  width: 71%;
  padding: 4% 0;
  right: 26.5%;
}

.is__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 164px 0;
}

.is__info-title {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 88px;
  color: #FFFFFF;
}

.is__star {
  width: 100px;
  height: 100px;
}

.is__info-list {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
}

.is__info-li {
  margin: 80px 0;
}
/*# sourceMappingURL=style.css.map */